.side-float {
  float: left;
  height: 100%;
  width: 170px;
  position: absolute;
  display: inline-block;
}

/*.sidebar {
  top: 0;
  width: 170px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}*/

.well {
  height: 175px;
}

#head-link ul {
  padding: 10% 0% 10%;
}

#main-logo {
  width: 160px;
}

#main-body {
  display: block;
}

.green-panel {
  background-color: #f5fffa;
}

.blue-panel {
  background-color: #f5faff;
}

.red-panel {
  background-color: #faf5ff
}

.panel-title {
  color: black;
  font-weight: bold;
}

#wedding {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
